<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Message details:</h1>
    <a href="/">Back</a>
    <div>
      <p>User: <%= message.user %></p>
      <p>Text: <%= message.text %></p>
      <p>Date Posted: <%= message.added %></p>
    </div>
  </body>
</html>
