<html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Message Form</h1>
    <form method="post" action="/new">
      <div class="form-control">
        <label for="author">Author:</label>
        <input type="text" name="author" id="author" />
      </div>

      <div class="form-control">
        <label for="message">Message:</label>
        <input type="text" name="message" id="message" />
      </div>

      <div class="form-control">
        <button type="submit">Send</button>
      </div>
    </form>
  </body>
</html>
